*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(
        105deg,
        #4CAF50 0%,
        #4CAF50 55%,
        #D9D9D9 55%,
        #D9D9D9 100%
    );
}
.image{
    float: right;
    margin: 5% 7% 0;
    width: 30%;
}
.select{
    font-family: 'Mooli', sans-serif;
    padding: 15px 15px;
    font-size: 35px;
}
.title{
    font-family: 'Mooli', sans-serif;  
    float: right;
    width: 45%;
    margin: 0 0 0 60%;
    text-align: center;
    color: #013b03;
}
.department{
    position: absolute;
    float: left;
    margin: auto 5%;
    width: 40%;
}
.logo{
    height: 210px;
}
.upper-department,
.lower-department,
.middle-department{
    display: flex;
    justify-content: space-around;
    width: 100%;
}